.content{
	display:block;
}
.chapter_poster{
	height:300px;
	width:auto;
	margin:20px;
	margin-top:10px
}
h2{
	margin-top:10px;
	text-align: center;
}
.chapter_info{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.chapter_links{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

@media (max-width: 550px){
.chapter_info{
	display: flex;
	justify-content: center;
	text-align: center;
}
.chapter_links{
	margin-top: 0;
	margin-bottom: 10px;
}
}


